body
{
  font-family: monospace;
  background-color: #ccfff3;
  text-align: center;
}

h1
{
  text-decoration: overline underline;
  font-size: 32px;
  color: #00664e;
}

h2
{
  color: #00b389;
  font-size: 27px;
}

h3
{
  color: #5ebaa5;
  font-size: 22px;
}

p
{
  font-size: 20px;
  color: black;
}

#SousSection2
{
  margin-left: 300px;
  margin-right: 300px;
  border: solid;
}

#Section2
{
  margin-left: 100px;
  margin-right: 100px;
}

#SousSection3
{
  column-count: 3;
  column-rule-style: dotted;
  text-align: left;
}
