.UI{
	margin: 5% auto;
	width: max-content;
	text-align: center;
	font-family: monospace;
}

.UI h1{
	font-size: 52px;
	border-bottom : 2px dotted black;
	border-top : 2px dotted black;
	padding: 20px;
	margin: 0 0 50px 0;
}

.UI p{
	font-size: 16px;
	margin: 0 0 50px 0;
}

.UI ul{
	text-align: left;
	margin: 0 0 50px 0
}
