@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:400,800');


:root {
  --margin-width: 112px;
}

body{
  margin : 0;
  font-family: 'Mukta Mahee', sans-serif;
  font-kerning : normal;
  background: #fafafa;
}

a,
a:hover,
a:active,
a:visited{
  color: #000;
  text-decoration: none;
}

a{
  border: 0px solid black;
  border-bottom-width: 1px;

  transition: border-width .1s ease-out;
  -webkit-transition: border-width .1s ease-out;

}

a:hover{
  border-bottom-width: 4px;
}

h1{
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  margin: 5px;
}

h2{
  margin: 0;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}

li {list-style-type: none;}

li:before {
	content: "—  "; /* caractère UTF-8 */
}

.contenair{
  margin : 0 auto;
  width : 90%;
  max-width: 1366px;
}

header{
  height : 50px;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

header > #col2{
  flex: 1;
}

.margin{
  margin: 0 var(--margin-width) 0 var(--margin-width);
}

.title{
  display: flex;
  justify-content: flex-start;
  font-size: 48px;
}

/*
here we use .class > #nod in order to select an element inside the .title-col div
*/
.title > #col1{
  width: var(--margin-width);
  text-align: center;
  font-family: serif;
}

.rules{
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
}

.rules > #col1{
  width: 40%;
}

.rules > #col2{
  width: 60%;
  font-size: 18px;
  line-height: 22px;
}

.content{
  margin-top: 70px;
}

.content > #row1{
  text-align: right;
  font-style: italic;
  font-size: 11px;
  height: 30px;
}

.header-col{
  text-align: center;
}
