h1{
  color:white;
  background-color : blue;
  font-size: 20
  px;

}
body
{  font-family: "cloisterBlack.ttf"}
#encart{
  width:300px
  text-align:center;
  margin-left: 200px
  margin:90px auto 20px auto;
} trump.Jpg 
