header{
  background-color: #3395b2;
  flex: 1;
  text-align: left;
}
#cont{
  display: flex;
  justify-content: space-between;
}
#cc{
  display: flex;

}

body{
  background-color: #bcf0ff;
}

#moncadre {
margin: auto;
   border:1px solid black;
   width:800px;
   height:600px;
}
