body{
  text-align: center;
  background-image:url("https://www.xmple.com/wallpaper/solid-color-cyan-single-plain-one-colour-1920x1080-c-248a90-f-24.svg");
}
p{
  front-size: 35px;
  color : #FFFFFF
  text-decoration-style: wavy;
  font-family: inherit;
}
h1{
  front-size: 35px;
  color : #FFFFFF
}
h2{
  front-size: 35px;
  color : #FFFFFF
}
h3{
  front-size: 35px;
  color : #FFFFFF
}
h4{
  front-size: 35px;
  color : #FFFFFF
}
