body{
  margin-left: 100px;
  margin-right: 100px;
}




#conteneur{
  display: flex;
  justify-content: space-between;
}

#conteneur2{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 250%;
  font-family: sans-serif;
}

#conteneur3{
  display: flex;
  justify-content: center;
  font-family:monospace;
}

#conteneur3_1{
  display: flex;
  justify-content: center;
  font-family:sans-serif;
  font-size: 110%;
}

#conteneur4{
  display: flex;
  justify-content: flex-end;
  font-size: 80%;
}
