body{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header-col{
  padding-top: 15px;
  padding-left: 15px;
  text-align: right;
  font-weight: 500;
  background-color: grey;
  color: white;
}
header{
  padding-right: 20px;
  min-height: 70px;
  border-bottom: black 3px solid;
}
h1{
font-family: Verdana, sans-serif;
padding-left: 10px;
}
.Description{
  padding-left: 10px;
  padding-right: 600px;
}
h2{
  padding-left: 10px;

}
h3{
  padding-left: 10px;
  padding-bottom: 20px;
  width: 80%
}
div{
  padding-left: 10px;

}
.projet{
  padding-top: 20px;
}
img{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;

}
.presentation{
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 30%;
}
.redirection{
  text-align: center;
}
