#conteneur{
  display:flex;


}
.bite{
  flex:1;
  text-align: center;
}

#introduction{
display: flex;
font-size: 250%;
}

#Consignes{
  display: flex;
font-size: 110%;
justify-content: center;
font-family: sans-serif;
}

#truc{
display: flex;
justify-content: center;
font-family: monospace;
margin-left: 200px;
}

body{
  margin-left: 100px;
  margin-right: 100px;
}

#image{
  display: flex;
  justify-content: flex-end;
  font-size: 80%;
}
