<html>
  <head>
    <meta charset="utf-8">
    <title>Template JS</title>

    <link rel="stylesheet" href="style.css" />

  </head>
  <body>
    <article>
      <header>
        <div class="Date">
          <p>2018/03/13</p>
        </div>

        <div class="Nom">
          <p><a href="mailto:marius@thiebs.com">Marius Thiebault</a></p>
        </div>

        <div class="Sujet">
          <p><a href="https://fr.wikipedia.org/wiki/Hypertext_Markup_Language">html</a>/<a href="https://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade">css</a></p>
        </div>

      </header>

      <div id="conteneur">
        <div class="Title">
          <h1>Création d'une page de présentation</h1>
        </div>

        <div class="Consignes">
          <p><i>Consignes de l'exercice :</i></p>
          <p>Réaliser une page "type" permettant de présenter nos réalisations sous un même format.</p>
        </div>

      </div>

      <div class="Cours">
        <p><i>Cours : Creative Coding, Max Vermesch, <b><a href="http://www.e-artsup.net">e-artsup 2018</a></b></i></p>
      </div>


      <img src="images/Exercice.png" alt="Exercice">

    </article>

  </body>

</html>
