@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:400,800');

body{
  margin: 0;
  background-color: #1E2A38;
  color:#BF2E21;

}

h1{
  font-size: 15px;
  font-weight: lighter;
}

.contenair{
  margin: 0 auto;
  width: 90%;
}

header{
  display: flex;
  justify-content: space-between;
  border: 3px solid #BF2E21;
}

.title{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 60px;
  border: 3px solid #BF2E21;
}

.rules{
  font-family: 'Mukta Mahee', sans-serif;
  margin-left: 750px;
  margin-top: 100px;
  width: 300px;
  border: 3px solid #BF2E21;
}

.content{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 100px;
  border: 3px solid #BF2E21;
}

.header-col{
  font-size: 20px;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
