canvas
{
background-color: #f44542;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
width: 1000px;

}
body{
  padding-top: 15px;

}
div#img {
  height: 612px;
  width: 612px;
  cursor: pointer;
}
