@import url('https://fonts.googleapis.com/css?family=Jua');

h1 {
  margin-left: 140px;
  font-family: "Jua", sans-serif;
  font-size: 50px;
  text-decoration: underline;
}

#scoreboard {
  margin-left: 195px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

#reset {
  margin-left: 165px;
}

#game {
  margin-top: 20px;
}
