
h0{
  color : #333333;

  }



h1{
  color : #333333;
}

h3{
  color : #809491;
}
h4{
  color : #272727;
}
h5{
  color : #56767a;
}
h6{
  color : #7e7d7d;
}

#Section-1{
  margin-left: 200px;
  margin-top: 50px;
  width : 600px;
}

#Section-2{
margin-left: 205px;
margin-bottom: 20px;
color : #56767a;
width : 600px;

}

#Section-3{
  margin-left: 205px;
  margin-bottom: 20px;

}

#Section-4{
  margin-left: 200px;
  column-count: 2;
  width: 750px
}

#Section-5{
  margin-left: 200px;
}

#Section-6{
  margin-left: 200px;
  width: 480px;
}

#Section-7{
  margin-top: ;
  margin-left: 200px;
  column-count: 2;
  width: 750px;

}

#Section-8{
  margin-top: 30px;
  margin-left: 200px;
  width: 480px;
}

#Section-9{
  margin-top: -15px;
  margin-left: 279px;
  width: 700px;
}

#Section-10{
  margin-top: -40px;
  margin-left: 210px;
  width: 380px;
}

#Section-11{
  margin-top: -35px;
  margin-left: 600px;
  width: 320px;
}

#Section-12{
  margin-top: -35px;
  margin-left: 200px;
  width: 760px;
}

#Section-13{
  margin-top: -15px;
  margin-left: 225px;
  width: 700px;
}

#Section-14{
  margin-top: 100px;
  margin-left: 200px;
}

#Section-15{
  margin-top: -100;
  margin-left: 200px;
  column-count: 2;
  width: 750px;
}

#Section-16{
  margin-left: 200px;
  width: 750px;
}

#Section-17{
  margin-top: 70px;
  margin-left: 200px;
}
