<body>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Nomanclature exercice</title>
  <link rel="stylesheet" href ="style.css">
</head>
<body>
  <div class="contenair"></div>
    <header>
      <div class="header-col" id="col1">2018/03/07</div>
      <div class="header-col" id="col2">Jonathan Esquian</div>
      <div class="header-col" id="col3">HTML/JS</div>
    </header>
    <div class="title">Introduction</div>
    <div class="rules">au DOM & CSS</div>
    <link rel="stylesheet" href ="style.css">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <center><img src = "http://content.presspage.com/uploads/722/800_codingpicture.jpg?10000">

</body>
</html>
